.navigationbar{
    margin-top: 80px;   
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.navpadding{
    padding: 20px;
    background-color:grey !important
 }
    /* .navbar-light .navbar-nav .nav-link{
        color: red
    } */
    /* .navbar-light .navbar-nav .active.nav-link{
        color:red
    }
    .navbar-light .navbar-nav .nav-link {
        color: green
    } */
    .review{
        margin-top: 60px;
        margin-bottom: 60px;
        color: grey;
    }
    #card{
        width: 22rem;
        padding: 0px;
        display: inline-block;
    }
    .logo{
        padding: 40px;
        text-align: center;
        font-weight: bold;
    }
    .logo1{
        padding: 20px;
        text-align: center;
        /* font-weight: */
        color: rgb(96, 96, 201);
    }

.sidebar{
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 150;
    left: 0;
    /* top layer */
    z-index: 9999;
    background-color:grey;
    margin-top: 40px;
  }
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar1{
      /* background-color:grey!important; */
      top: 0;
      left: 0;
      position: fixed;
       width: 100%;
      z-index: 9999;
      color:white
  }
.container{
  margin-top: 80px;}
    
    